{% extends 'base.html.twig' %}

{% block title %}Check the email address{% endblock %}

{% block body %}

    {{ form_start(newCheckForm) }}
        {{ form_widget(newCheckForm) }}
        <button type="submit" class="btn">Check &rarr;</button>
    {{ form_end(newCheckForm) }}

{% endblock %}
