body {
  font-family: Helvetica, sans-serif;
  line-height: 1.8;
  background-color: $color-background;
  color: $color-text;
}

a {
  color: $color-action;
  &:hover, &:focus {
    color: $color-action-active;
  }
}

header, main, footer {
  max-width: $size-body;
  margin: 0 auto;
  padding: 0 $size-spacer-margin;
}

header {
  padding: $size-spacer-md $size-spacer-margin;
  img {
    max-height: 4em;
  }
}

main {
  margin: $size-spacer-xl auto;
}

footer {
  margin: $size-spacer-xl auto;
  font-size: .9em;
  opacity: .6;
}

p {
  opacity: .7;
}

.intro {
  font-size: 1.3em;
}

#intro {
  margin: $size-spacer-xl 0;

  form {
    margin-top: $size-spacer-lg;
  }
}

ol {
  li {
    margin: 1em 0;
  }
}
