.card {
  margin: $size-spacer-lg 0;
  padding: $size-spacer-lg;
  border-radius: $size-spacer-md;
  border: 2px solid transparentize($color-text, .9);

  @include width-tablet {
    border-width: 2px 0;
    border-radius: 0;
    padding: $size-spacer-lg 0;

    &.alert {
      padding: $size-spacer-lg;
    }
  }

}


.alert {
  background: #111;
}

.badge {
  display: inline-block;
  height: $size-spacer-md;
  width: $size-spacer-md;
  border-radius: $size-spacer-md;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
