table {
  border-collapse: collapse;
  width: 100%;
  tr {

    td {
      padding: $size-spacer-xs $size-spacer-sm;

      &.right {
        text-align: right;
      }

    }

    &:nth-child(odd) td {
      background: transparentize($color-text, .95);
    }
  }

}
